
body {
  background-color: lavender;
}

ul {
  list-style-type: disc;
}

li {
   color: rgb(178, 236, 17);
   
}

.navBar {
  font-family: fantasy;
  font-size: large;
  font-weight: 200;
  color: blueviolet;
  background-color: lightgray;
}

.navBar a:hover {
  color: orange;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  color: blue;

}

#me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

h2 {
  text-align: center;
  font-family: Georgia;
  color: red;
}
 
#bio{
  text-align: center;
  margin: auto;
  width: 50%;
}

.listItems li {
  text-align: center;
  font-family: cursive;
  font-size: medium;
  font-weight: 150;
  color: darkgreen;
  margin: auto;
}

#goal{
  text-align: center;
  margin: auto;
  width: 50%;
}

p {
  
  border: solid 2px blueviolet;
  margin-top: 15px; 
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 5px 10px blueviolet;
  
  
}

#foot {
  text-align: center;
  margin: auto;
  width: 50%; 
}

Footer {
  text-align: center;
  margin: auto;
  width: 50%;
  
  
}